*{
    margin: 0;
    padding: 0;
}
body{ 
    background-color: $contentBackground;

    #content{
        width: 70%;
        margin: auto;
        background-color:$Background;
        padding: 20px 20px;
        margin-top: 10px;
        
        h1,h2{color: #893c00;}
        p{padding-bottom: 15px;}
        
        h1{
            width: fit-content;
            margin: auto;
            padding-bottom: 20px;
        }
        
        h2{padding-bottom: 15px;}
        h2+p{float: right;}
        
        .img-left{
            float: left;
            margin: 0px 15px 0px 0px;
            border: 2px solid $borderColor;
            padding: 2px;
        }
        .img-right{
            float: right;
            margin: 0px 0px 0px 15px;
            border: 2px solid $borderColor;
            padding: 2px;
        }
        .brief{
            background-color: $forBrief;
            width: 375px;
            padding: 21px;
            float: left;
            margin: 0px 15px 0px 0px;
        }
        table{
            width: 95%;
            th{
                background-color: $tableBack;
                text-align: left;
//                padding: 10px 15px; 
                font-weight: 100;
                font-size: 1.1em;
            }
            
            *{padding: 10px 15px; }
            td{border-bottom: 1px solid $tableBack;}
            
        }
    }
}

