@import url('https://fonts.googleapis.com/css?family=Roboto');

$content_back: #3c3b3c;
$Background: rgba(198,238,252,0.53);
$border_h2_Color: #f5c70f;
$forBrief: #fff178;
$tableBack: #94a34e;
$btn_link_Border: #fccd10;
$mainText_color: #ffffff;
$input_text_color: #fccd10;
$td_item: #677d01;

@mixin img {
    padding: 2px;
    border: 2px solid $border_h2_Color;
}

@mixin inp_l {
    input {
        width: 95.5%;
        padding: 4px;
    }
}

@mixin inp_s {
    input,
    textarea {
        width: 97.5%;
        padding: 4px;
    }
}

@mixin brief{
    .brief {
        background-color: $forBrief;
        width: 95.5%;
        padding: 21px;
        float: left;
        margin: 0px 15px 25px 0px;
    }
}